include ../mixins/sub-menu.pug


header.header
  .container
      .col-25
        .inner-menu
          ul
              li
                a(href="/user/logout") Đăng xuất
              //- li
              //-   a(href="/user/login") Đăng nhập
              //- li
              //-   a(href="/user/register") Đăng ký